
  <% if @mobile_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobile_service.errors.count, "error") %> prohibited this mobile_service from being saved:</h2>

      <ul>
      <% @mobile_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :urltitle %><br />
    <%= f.text_field :urltitle %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label 'Icon' %><br />
    <%= f.file_field :icon %>
    <% if @mobile_service.icon.exists? then %>
      <%= image_tag @mobile_service.icon.url(:base) %>
    <% end %>  
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :is_live %><br />
    <%= f.check_box :is_live %>
  </div>
  <div class="field">
    <%= f.label :is_restricted %><br />
    <%= f.check_box :is_restricted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

