<h1>Listing mobile_services</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Icon</th>
    <th>Url</th>
    <th>Is live</th>
    <th>Is restricted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mobile_services.each do |mobile_service| %>
  <tr>
    <td><%= mobile_service.title %></td>
    <td><%= mobile_service.description %></td>
    <td><% if mobile_service.icon.exists? then %>
      <%= image_tag mobile_service.icon.url(:base) %>
    <% else %>
      NO ICON! (should never be seen!)
    <% end %></td>
    <td><%= mobile_service.url %></td>
    <td><%= mobile_service.is_live %></td>
    <td><%= mobile_service.is_restricted %></td>
    <td><%= link_to 'Show', admin_mobile_service_path(mobile_service) %></td>
    <td><%= link_to 'Edit', edit_admin_mobile_service_path(mobile_service) %></td>
    <td><%= link_to 'Destroy', admin_mobile_service_path(mobile_service), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mobile service', new_admin_mobile_service_path %>
