
  <% if @service_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_package.errors.count, "error") %> prohibited this service_package from being saved:</h2>

      <ul>
      <% @service_package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :urltitle %><br />
    <%= f.text_field :urltitle %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div>
    <%= f.label 'Icon' %><br />
    <%= f.file_field :icon %>
    <% if @service_package.icon.exists? then %>
      <%= image_tag @service_package.icon.url(:base) %>
    <% end %>  
  </div>
  
  <% if controller.action_name != 'new'%>
  <div class="field">
    <%= f.label :is_live %><br />
    <%= f.check_box :is_live, {:class=>"is_live_checkbox"} %>
  </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>

