<h1>Editing service_package</h1>

<div class="left_col package_info">
<%= form_for(@service_package,
             :html => { :multipart => true },
             :url => admin_service_package_path(@service_package) ) do |f| %>
<%= render 'form_contents', :f => f %>
<% end %>
</div>

<div class="right_col mobile_service_chooser">
  <div class="left_col services_in_package">
    <h2>In Package</h2>
    <%if @service_package.mobile_services.empty?%>
      <p>No services in this package.</p>
    <%else%>
      <ul>
        <% @service_package.mobile_services.each do |ms| %>
        <li><%= link_to ((image_tag ms.icon.url(:base)) + ms.title),
                         admin_mobile_service_path(ms) %></li>
        <%end%>
      </ul>
    <%end%>
  </div>

  <div class="right_col available_services">
    <h2>Available Services</h2>
    <%if @mobile_services.empty?%>
      <p>No services are available to put in packages.</p>
    <%else%>
      <ul>
        <% (@mobile_services - @service_package.mobile_services).each do |ms| %>
        <li><%= link_to ((image_tag ms.icon.url(:base)) + ms.title),
                         admin_mobile_service_path(ms) %></li>
        <%end%>
      </ul>
    <%end%>
  </div>

3. provide a way to add more services to this package (plus button on each available service)<br/>
4. provide a way to remove some from this package (remove button on each package service)<br/>


</div>




<br clear="all"/>
<%= link_to 'Show', admin_service_package_path(@service_package) %> |
<%= link_to 'Back', admin_service_packages_path %>
