<script type="text/javascript">
$(document).ready(function(){

  $(".services_in_package  .add_button").hide();
  $(".available_services  .remove_button").hide();

  var no_service_item = "<li>No services</li>";

  $(".add_button").click(
    function()
      {
        var cached_this = this;
        $.ajax(
          {
            url: '<%=admin_service_package_path(@service_package) %>/add_service/'+($(this).parent().attr("for")),
            type: 'POST',
            success:function(data, textStatus) 
              {
                $(".services_in_package ul li:contains('No services')").remove();
                $(".services_in_package ul").append($(cached_this).parent().detach());
                $(cached_this).parent().find(".button").toggle();
                if ($(".available_services ul li").length == 0) { 
                  $(".available_services ul").append(no_service_item);
                }          
              },
            error:function(request, textStatus, errorThrown)
              {
                alert("could not put that service in this package: "+errorThrown);
              }
          });
      });


  $(".remove_button").click(
    function()
      {
        var cached_this = this;
        $.ajax(
          {
            url: '<%=admin_service_package_path(@service_package) %>/remove_service/'+($(this).parent().attr("for")), 
            type: 'POST',
            success:function(data, textStatus) 
              {
                $(".available_services ul li:contains('No services')").remove();
                $(".available_services ul").append($(cached_this).parent().detach());
                $(cached_this).parent().find(".button").toggle();
                if ($(".services_in_package ul li").length == 0) { 
                  $(".services_in_package ul").append(no_service_item);
                }
              },
            error:function(request, textStatus, errorThrown)
              {
                alert("could not remove that service from this package: "+request.toString());
              }
          });
      });

});
</script>

<h1>Editing service_package</h1>

<div class="left_col package_info">
<%= form_for(@service_package,
             :html => { :multipart => true },
             :url => admin_service_package_path(@service_package) ) do |f| %>
<%= render 'form_contents', :f => f %>
<% end %>
</div>

<div class="right_col mobile_service_chooser">
  <div class="left_col services_in_package">
    <h2>In Package</h2>
      <ul>
    <%if @service_package.mobile_services.empty?%>
        <li>No services</li>
    <%else%>
      <% @service_package.mobile_services.each do |ms| %>
        <%=admin_mobile_service_item(ms,add_button+"<div class=\"package_container\">","</div>"+remove_button)%>
      <%end%>
    <%end%>
      </ul>
  </div>

  <div class="right_col available_services">
    <h2>Available</h2>
    <%if @mobile_services.empty?%>
      <p>No services</p>
    <%else%>
      <ul>
        <% (@mobile_services - @service_package.mobile_services).each do |ms| %>
          <%=admin_mobile_service_item(ms,add_button+"<div class=\"package_container\">","</div>"+remove_button)%>
        <%end%>
      </ul>
    <%end%>
  </div>

</div>




<br clear="all"/>

<%= link_to 'Show', admin_service_package_path(@service_package) %> |
<%= link_to 'Back', admin_service_packages_path %>
