<!DOCTYPE html>
<html>
<head>
  <title><%=BASE_TITLE%> : <%=@page_title || "Unknown"%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="admin_nav">
 <ul>
  <li><%= link_to 'Admin Home', admin_pages_home_path %></li>
  <li><%= link_to 'Mobile Services', admin_mobile_services_path %></li>
  <li><%= link_to 'Service Packages', admin_service_packages_path %></li>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Help', admin_pages_help_path %></li>
  <li class="logout_item"><%= link_to 'Logout', admin_logout_path %></li>
 </ul>
</div>

<h1><%=@page_title%></h1>

<%= yield %>

</body>
</html>
