<%
packages = [@service_package] # a dynamic list; starts out with just the requested package, but any nested packages are appended
leaf_services = [] # internal 'pages'
rss_items = [] # package items which are rss feeds, not the items in the feed

packages.each do |p|
%>

  <div data-role="page" id="package-<%=p.id.to_s%>" data-add-back-btn="true">
    <div data-role="header" data-position="fixed" data-back-btn-text="back" data-title="<%=@page_title || 'Williams Mobile'%>">
      <h1><%=p.title%></h1>
    </div>
    <div data-role="content">
      <%
      items_in_package = (p.package_items.select{|o| o.package_item.is_live}).collect{|pm| pm.package_item } 
      if (items_in_package.length > 0) %>
        <ul data-role="listview" data-inset="true"<%= (items_in_package.length > 9) ? ' data-filter="true"' : ''%>><%
        items_in_package.each do |pi|
          which_icon = pi.icon.url(:small)
          if (pi.class.to_s == "MobileService")

            if (pi.service_type =~ /embedded/) %>

              <li><a href="#service-<%=pi.id.to_s%>"><%=image_tag which_icon, :class=>"ui-li-icon"%><%=pi.title%></a></li><%
              if (! leaf_services.include?(pi)) then leaf_services << pi end

            elsif (pi.service_type =~ /feed/)

              if ((! pi.items.nil?) && (pi.items.count >= 1))%>
                <li><a href="#service-<%=pi.id.to_s%>"><%=image_tag which_icon, :class=>"ui-li-icon"%><%=pi.title%> <span class="ui-li-count"><%=pi.items.nil? ? '0' : pi.items.count.to_s%></span></a></li><%
                if (! rss_items.include?(pi))
                  rss_items << pi
                end
              end
            
            elsif ((pi.service_type == "native iOS" && ios_request?) ||
                  (pi.service_type == "native android" && android_request?) ||
                  (pi.service_type != "native iOS" && pi.service_type != "native android")) %>
                  
             <li data-icon="forward" data-iconpos="left" class="ui-btn-icon-left" ><a href="<%=pi.url%>" style="padding-left: 70px;" rel="external" target="_new"><%=image_tag which_icon, :class=>"ui-li-icon", :style=>"padding-left: 32px;"%><%=pi.title%></a></li><%
            
            end # pi.service_type i-t-e cascade
          elsif (pi.class.to_s == "ServicePackage") %>
            <li><a href="#package-<%=pi.id.to_s%>"><%=image_tag which_icon, :class=>"ui-li-icon"%><%=pi.title%></a></li><%
            if (! packages.include?(pi)) then packages << pi end
          end
        end # items_in_package.each 
        %>
        </ul><%
      end # if (items_in_package.length > 0)
      %>
    </div>
    <div data-role="footer" data-position="fixed">
      footer
    </div>
  </div>
<%end%>

<% leaf_services.each do |s|
  if s.service_type=="embedded"%>
    <div data-role="page" id="service-<%=s.id.to_s%>" data-add-back-btn="true" >
      <div data-role="header" data-position="fixed" data-back-btn-text="back" data-title="<%=s.title%>">
        <h1><%=s.title%></h1>
      </div>
      <div data-role="content" >
        <iframe src="<%=s.url%>" width="100%" style="min-height: 85%">iframes not supported</iframe>
      </div>
      <div data-role="footer" data-position="fixed">
        footer
      </div>
    </div><%
    end
  end 

  coder = HTMLEntities.new
  rss_items.each do |rs| %>
    <div data-role="page" id="service-<%=rs.id.to_s%>" data-add-back-btn="true" >
      <div data-role="header" data-position="fixed" data-back-btn-text="back" data-title="<%=rs.title%>">
        <h1><%=rs.title%></h1>
      </div>
      <div data-role="content">

        <ul data-role="listview" data-filter="true">
          <% prev_pub_date = nil
          rs.items.each do |rsi| 
            if (! rsi.nil?)
              new_pub_date = (rsi.pubDate.nil?) ? '' : rsi.pubDate.strftime("%A, %B %-d")
              if (new_pub_date != prev_pub_date)%>
                <li data-role="list-divider"><%=new_pub_date%></li><%
                prev_pub_date = new_pub_date
              end
              feed_item_contents = "no details available"
              if (! rsi.content_encoded.nil?)
                feed_item_contents = (coder.decode(rsi.content_encoded)).html_safe
              elsif (! rsi.description.nil?)
                feed_item_contents = (coder.decode(rsi.description)).html_safe
              end
              # Daily Message specific code - not appropriate for general RSS handling
              #feed_item_contents.sub!(/.*?\n/,'')
              #feed_item_contents.sub!(/, for (Students|Faculty|Staff|Students, Faculty|Students, Staff|Faculty, Staff|Students, Faculty, Staff)\Z/,'</p><p class="ui-li-aside">\1')
              %>
              <li>
                <h3><%=(coder.decode(rsi.title)).html_safe%></h3>
                <p style="white-space:normal"><%=feed_item_contents.html_safe%></p>
              </li><% 
            end 
          end %>
         </ul>
      </div>
      <div data-role="footer" data-position="fixed">
        footer
      </div>
    </div>

<% end %>
